{% load static %}
{% block dandm %}

{% comment %}The tab menu starts here!{% endcomment %}
<div class="ui pointing secondary menu">
    <a class="active item" data-tab="dandm">
        Proficiency Medals
    </a>

    <a class="right floated item">
        <button class="ui primary button">
            Download
            <i class="right floated download icon"></i>
        </button>
    </a>
</div>

<div class="ui active tab" data-tab="dandm">
    <div class="ui vertical segment">
        <form class="ui form" style="padding-left: 36px; padding-right: 36px;">
            
                <div class="eight wide field">
                <label>PBI Project/Design Project</label>
                <div class="ui large input">
                    <input placeholder="Project" type="text" name="title">
                </div>
            </div>
            <div class="two fields">
                <div class="eight wide field">
                    <label>Number Of Student</label>
                    <div class="ui fluid search selection large dropdown" name="students">
                        <input  type="hidden">
                        <i class="dropdown icon"></i>

                        <div class="default text">Select</div>

                        <div class="menu">
                            <div class="item" data-value="1">
                                1
                            </div>
                            <div class="item" data-value="2">
                                2
                            </div>
                            <div class="item" data-value="3">
                                3
                            </div>

                        </div>

                    </div>
                    </div>
                    
                    <div class="six wide field">
                            <label>Type</label>
                            <select class="ui fluid search selection large dropdown" name="type">
                                    <option selected hidden>Select</option> 
                                    {% for award in awards %}
                                    <option value="{{award.id}}">{{award.award_name}}</option>
                                    {% endfor %}
                                </select>
                    </div>
            </div>
            <div class="two fields">
                    <div class="field">
                              <label>Permanent Address:</label>
                              <textarea rows="2" name="p_address">{{request.user.extrainfo.address}}</textarea>
                          </div>
      
                         <div class="field">
                              <label>Correspondance Address:</label>
                              <textarea rows="2" name="c_address"></textarea>
                          </div>
                      </div>
              <div class="two fields">
                  <div class="field">
                      <label>Nearest Police Station</label>
                          <div class="ui large input">
                              <input placeholder="Police Station" name="nps" type="text">
                          </div>
                  </div>
                  <div class="field">
                      <label>Nearest Railway Station</label>
                          <div class="ui large input">
                              <input placeholder="Railway Station" name="nrs" type="text">
                          </div>
                  </div>
              </div>

            <div class="two fields">
                    <div class="field">
                            <a class="right floated item">
                           <label><br></label>               
                           <div class="seven wide field">
                               <label>Upload file</label>
                               <div class="ui fluid input">
                                   <input type="file" name="myfile">
                               </div>
                           </div>
                       </div>
                <div class="field">
                  <a class="right floated item">
                            <label><br></label>
                            <button type="submit" name="Submit_dandm" class="ui primary large right floated button">
                                Submit
                            </button>
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
{% comment %}The tab menu ends here!{% endcomment %}
